<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'solar_energy/Styles/Estilo Barra Navegación.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    {% block style %}

    {% endblock %}

    <title>
        {% block title %}
        
        {% endblock %}
    </title>
</head>
<body>

    <header> 
        <div class="logo">
            <a href="{% url 'Inicio' %}"><img src="{% static 'solar_energy/Logos/Sol.png' %}" alt="Logo empresa"></a>
        </div>

        <div class="nombre">
            <h1>
                SOLAR ENERGY SAVING
            </h1>
        </div>

        <nav id="menu">
            <ul>
                <li><a href="{% url 'Inicio' %}"><i data-feather="home"></i>Inicio</a></li>
                <li><a href="{% url 'Energia_fotovoltaica' %}"><i data-feather="sun"></i>Energía solar fotovoltaica</a></li>
                <!--<li><a href="{% url 'Precio_luz' %}"><i data-feather="dollar-sign"></i>Precio de la luz</a></li>-->
                <li><a href="{% url 'Calculadora' %}"><span class="material-symbols-outlined">
                    calculate
                    </span>Calculadora de amortización</a></li>
                <!--<li><a href="{% url 'Conceptos_teoricos' %}">Conceptos teóricos</a></li>-->
            </ul>
        </nav>

        <!-- Toggle button -->
    <div class="menu-toggle">   <!-- onclick="toggleMenu()">-->
        <i class="fa fa-bars"></i>
    </div>
    </header>

    
    {% block content %}

    {% endblock %}
    

    <script src="{% static 'solar_energy/JavaScript/Barra de Navegación.js' %}"></script>

</body>


</html>