{% extends 'solar_energy/Barra de Navegacion.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'solar_energy/Styles/Estilo_Ventana_fotovoltaica.css' %}">
{% endblock %}

{% block title %}
    Fotovoltaica
{% endblock %}

{% block content %}
    <p>Los paneles solares fotovoltaicos más usados son los paneles de silicio, estos puden ser:</p>
    <ul>
        <li>Paneles de silicio monocristalino.</li>
        <li>Paneles de silicio policristalino.</li>
        <li>Paneles de silicio amorfo (más conocidos como Thin Film).</li>
    </ul>
    <p>
        Además de los paneles de silicio, existen otros menos extendidos que usan compuestos orgánicos o arseniuro de galio.  
    </p>

    
    <section>
        <div class="container">

            <div class="carousel">
                <input type="radio" name="slides" checked="checked" id="slide-1">
                <input type="radio" name="slides" id="slide-2">
                <input type="radio" name="slides" id="slide-3">
                <input type="radio" name="slides" id="slide-4">


                <ul class="carousel__slides">
                        
                    <li class="card">
                        <div class="card-container">
                                <div class="card-face front-face">
                                    <img src="{%static 'solar_energy/Imagenes/Comparación paneles fotovoltaicos.jpg' %}" alt=""/>
                                </div>
                                <div class="card-face back-face">
                                    <div class="container-about">
                                        <h2>Propiedades</h2>
                                        <p>
                                            Se realiza una comparación entre los 3 tipos de panales de silicio.
                                            Como puede ver en la imagen se muestran el panel monocritalino, policristalino y capa fina.
                                        </p>
                                    </div>
                                </div>
                        </div>
                    </li> 

                    <li class="card">
                        <div class="card-container">
                                <div class="card-face front-face">
                                    <img src="{%static 'solar_energy/Imagenes/panel-solar-monocristalino.jpg' %}" alt=""/>
                                </div>
                                <div class="card-face back-face">
                                    <div class="container-about">
                                        <h2>Propiedades</h2>
                                        <p>
                                            Panel monocristalino bajo precio gran rendimiento.
                                        </p>
                                    </div>
                                </div>
                        </div>
                    </li>

                    <li class="card">
                        <div class="card-container">
                                <div class="card-face front-face">
                                    <img src="{%static 'solar_energy/Imagenes/panel-solar-policristalino.jpg' %}" alt=""/>
                                </div>
                                <div class="card-face back-face">
                                    <div class="container-about">
                                        <h2>Propiedades</h2>
                                        <p>
                                            Panel policristalino bajo precio gran rendimiento.
                                        </p>
                                    </div>
                                </div>
                        </div>
                    </li>


                    <li class="card">
                        <div class="card-container">
                                <div class="card-face front-face">
                                    <img src="{% static 'solar_energy/Imagenes/panel-solar-amorfo.jpg' %}" alt=""/>
                                </div>
                                <div class="card-face back-face">
                                    <div class="container-about">
                                        <h2>Propiedades</h2>
                                        <p>
                                            Se realiza una comparación entre los 3 tipos de panales de silicio.
                                            Como puede ver en la imagen se muestran el panel monocritalino, policristalino y capa fina.
                                        </p>
                                    </div>
                                </div>
                        </div>
                    </li> 
                </ul>

                <ul class="carousel__thumbnails">
                    <li>
                        <label for="slide-1"><img src="{% static 'solar_energy/Imagenes/Comparación paneles fotovoltaicos.jpg' %}" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-2"><img src="{% static 'solar_energy/Imagenes/panel-solar-monocristalino.jpg' %}" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-3"><img src="{% static 'solar_energy/Imagenes/panel-solar-policristalino.jpg' %}" alt=""></label>
                    </li>
                    <li>
                        <label for="slide-4"><img src="{% static 'solar_energy/Imagenes/panel-solar-amorfo.jpg' %}" alt=""></label>
                    </li>
                </ul>
                
            </div>
        </div>
    </section>




    <p>
        La energía solar es una fuente de energía renovable, obtenida mediante el aprovechamiento de la radiación procendente del sol.
        Dependiendo de la tecnología usada podemos transformar la energía solar en energía eléctrica o térmica.
    </p>


 
    
{% endblock %}
