{% extends 'solar_energy/Barra de Navegacion.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'solar_energy/Styles/Estilo_Ventana_fotovoltaica.css' %}">
{% endblock %}

{% block title %}
    Fotovoltaica
{% endblock %}

{% block content %}
    <div id="content" class='Contenido-fotovoltaica' >
        <h1>Energía Solar Fotovoltaica</h1>
        <h2>Definición.</h2>
        <p>
            La energía solar fotovoltaica es una fuente de energía renovable,
            inagotable y limpia que transforma la radiación solar en electricidad,
            esta transformación se realiza mediante la combinación del efecto fotoeléctrico 
            y del efecto fotovoltaico. El efecto fotoeléctrico consiste
            en la emisión de electrones por un material cuando se ilumina con radiación electromagnética
            (en este caso la radiación solar), mientras que el efecto fotovoltaico consiste en
            la excitación de esos electrones en un material semiconductor al ser iluminados por la radiación
            electromagnética generando una pequeña diferencia de potencial. 
        </p>

        <p> 
            El dispositivo compuesto por material semiconductor se denomina celda o célula 
            fotovoltaica. Al conectar varias de estas celdas en serie, se pueden obtener diferencias 
            de potencial mayores. Las celdas pueden fabricarse con silicio monocristalino, policristalino 
            o amorfo, así como con otros materiales semiconductores de capa fina. 
        </p>

        <div class='celula-fotovoltaica'>
        <img src="{% static 'solar_energy/Imagenes/celula-fotovoltaica.jpg' %}" >
        <p>Célula fotovoltaica.</p>
        </div>

        <h2>Tipos de instalaciones fotovoltaicas.</h2>
        <p>
        Existen dos tipos principales de instalaciones fotovoltaicas: aquellas que están conectadas a la red eléctrica 
        y las que no lo están. En este contexto, nos enfocaremos en la primeras, las cuales se dividen a su vez en dos categorías:
        </p>
        <ul>
            <li>Centrales fotovoltaicas: Estas instalaciones dirigen toda la energía producida hacia la red eléctrica.</li>
            <li>Instalaciones de autoconsumo: En este caso, la electricidad generada se consume directamente por el propietario
                (por ejemplo, una vivienda). En caso de que no se consuma toda la energía producida, el excedente se inyecta en la red. 
                Además, el propietario obtiene electricidad de la red cuando la generación solar no es suficiente para cubrir la demanda.
            </li>
        </ul>

        <p>En cuanto a las instalaciones de autoconsumo, la calculadora de amortización desarrollada en esta aplicación
            web se enfoca específicamente en aquellas instaladas en viviendas, cuyo esquema y elementos puede verse en las Figuras 1 y 2 respectivamente.
             Este esquema es similar para los negocios. En este esquema:</p>
        <ul>
            <li>Las placas solares generan elctricidad en corriente continua</li>
            <li>El inversor transforma la electricidad en corriente alterna, que puede ser utilizada por los electrodomésticos</li>
            <li>Los demas elementos son dispositivos de medición o protección</li>
        </ul>

        <div class='Esquemas-instalacion'>
            <div class='Esquema2'>
                <img src="{% static 'solar_energy/Imagenes/Instalación_fotovoltaica_casa.jpg' %}"> 
                <p>Figura1. Esquema general instalación fotovoltaica.</p>
            </div>
            <div class='Esquema1'>
                <img src="{% static 'solar_energy/Imagenes/Esquema_instalación_fotovoltaica.jpg' %}">
                <p>Figura 2. Componentes instalación fotovoltaica.</p>
            </div>
        </div>

        <h2>Placas solares</h2>
        <p>Un panel solar o módulo fotovoltaico es una estructura que alberga múltiples células fotovoltaicas, 
            interconectadas tanto en serie como en paralelo. Su objetivo principal es generar energía eléctrica
             a partir de la radiación solar.  Esta configuración incrementa la eficiencia y la capacidad 
            de generación de energía del panel, permitiendo así aprovechar de manera más efectiva la energía solar disponible.        
        </p>
        
        <div class="table-container">
            <table>
                <tr> 
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                </tr>
                <tr>
                    <td class="imagen"><img src="{% static 'solar_energy/Imagenes/panel-solar-monocristalino.jpg' %}"></td>
                    <td class="nombre-table">Silicio Monocristalino</td>
                    <td class="descripcion">Se obtienen a partir de un único cristal de silicio productor
                        y alcanzan la máxima eficiencia, entre un 18% y un 20% de media.
                    </td>
                </tr>
                <tr>
                    <td class="imagen"><img src="{% static 'solar_energy/Imagenes/panel-solar-policristalino.jpg' %}"></td>
                    <td class="nombre-table">Silicio Policristalino</td>
                    <td class="descripcion">Se elaboran e nbloque a partir de varios cristales, por lo que 
                        resultan más baratas y poseen una eficiencia media de entre 16% y el 17.5%.
                    </td>
                </tr>
                <tr>
                    <td class="imagen"><img src="{% static 'solar_energy/Imagenes/panel-solar-amorfo.jpg' %}"></td>
                    <td class="nombre-table">Silicio Amorfo</td>
                    <td class="descripcion">Presentan una red cristalina desordenada, lo que conlleva peores prestaciones
                        con una eficacia media de entre un 8% y un 9%. Sin embargo, su 
                        precio es menor
                    </td>
                </tr>

                <tr>
                    <td class="imagen"><img src="{% static 'solar_energy/Imagenes/panel-solar-amorfo.jpg' %}"></td>
                    <td class="nombre-table">Tecnología CIS (cobre, indio y selenio)</td>
                    <td class="descripcion">Presentan una red cristalina desordenada, lo que conlleva peores prestaciones
                        con una eficacia media de entre un 8% y un 9%. Sin embargo, su 
                        precio es menor
                    </td>
                </tr>


                <tr>
                    <td class="imagen"><img src="{% static 'solar_energy/Imagenes/panel-solar-CdTe.jpg' %}"></td>
                    <td class="nombre-table">Telururo de cadmio (CdTe)</td>
                    <td class="descripcion">Presentan una red cristalina desordenada, lo que conlleva peores prestaciones
                        con una eficacia media de entre un 8% y un 9%. Sin embargo, su 
                        precio es menor
                    </td>
                </tr>
                
            </table>
        </div>


    </div>

    
{% endblock %}
