{% extends 'solar_energy/Barra de Navegacion.html' %}

{% load static %}
    
{% block style %}
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="{% static 'solar_energy/Styles/Estilo_Ventana_resultados.css' %}">
{% endblock %}

{% block title %}
    Resultados Amortización
{% endblock %}

{% block content %}
<div class='informe-resultados'>
    <div class="consejo">
        <p>* En dispositivos móvil, poner la pantalla en horizontal para una correcta visualización de las gráficas y tablas.</p>
        <p id='mensaje advertencia'>* Salvo aclaración expresa todos las catidades en € están sin IVA.</p>
    </div>

    
    <h2>Informe Amortización Placas Solares</h2>
    
    <p>Nombre de la instalación: {{contexto1.name}}</p>
    <p>Coordenadas: {{contexto1.latitud}} , {{contexto1.longitud}}</p>
    <p>La instalación se compone de {{contexto1.N_placas}} placas solares</p>
    <p>El precio medio de la luz del último año fue de {{contexto3.precio_medio_luz}} €/kWh, mientras que
        el precio de compra de la energía excedentaría fue de {{contexto3.precio_medio_energia_excedente}} €/kWh
    </p>
    <p>Según el coste y la subvencion proporcionados, si tenemos en cuenta el ahorro sin IVA
        producido por la instalación, tardaría en amortizar la instalación {{contexto3.Amortizacion}}
        años. 
    <p>Teniendo en cuenta que se considera que la vida útil de una instalación Fotovoltaica
        es de 25 años, el beneficio que obtendría de esta instalación una vez amortizada es {{contexto3.Beneficio}}€.</p>
    <p>Si se tiene en cuenta el IVA que se ahorraría al no pagar la electricidad que esta producciendo la amortización de la instalación se reduce
        a {{contexto3.Amortizacion_IVA}} años y el beneficio aumenta hasta los {{contexto3.Beneficio_IVA}}€.
    <p>En la tabla y gráficas siguientes se aportan los datos de consumo y producción estimados durante un año, además también
        se muestran los datos de gasto sin placas como el ahorro con ellas. 
    </p>
    <!--<div id="dato-texto" data-dato="{{contexto1.dato_django}}"></div>-->
    
    <table class="table">
        <caption>CONSUMO, PRODUCCIÓN, GASTO, AHORRO Y RADIACIÓN POR MES</caption>
        <tr class='Cabecera-tabla'>
            <th>MES</th>
            <th>CONSUMO (kWh)</th>
            <th>PRODUCCIÓN (kWh)</th>
            <th>GASTO SIN PLACAS (€)</th>
            <th>AHORRO CON PLACAS (€)</th>
            <th>GASTO CON PLACAS (€)</th>
        </tr>
        
        {% for linea in contexto2 %}
        <tr>
            <td>{{linea.Mes}}</td>
            <td>{{linea.CONSUMO_Wh}}</td>
            <td>{{linea.Produccion}}</td>
            <td>{{linea.Gasto_sin_placas}}</td>
            <td>{{linea.Ahorro_con_placas}}</td>
            <td>{{linea.Gasto_con_placas}}</td>
        </tr>
        {% endfor %}

        <tr>
            <td>TOTAL</td>
            <td>{{contexto3.total_consumo}}</td>
            <td>{{contexto3.total_producción}}</td>
            <td>{{contexto3.total_gasto_sin_placas}}</td>
            <td>{{contexto3.total_ahorro}}</td>
            <td>{{contexto3.total_gasto_con_placas}}</td>
        </tr>
    </table>

    <div class="container_graficas_compactas"> 
        <div id="Datos_consumo_compacto" data-consumo="{{contexto4}}"></div>
        <div id='Bar_Chart_consumo_produccion' class='bar-chart-container1'></div>
        <div id='Bar_Chart_gasto_ahorro' class='bar-chart-container2'></div>
    </div>
    
    <div class="Seleccion_mes">
        <select id='consumo_produccion_mes'>
            <option value='01'> Enero </option>
            <option value="02">Febrero</option>
            <option value="03">Marzo</option>
            <option value="04">Abril</option>
            <option value="05">Mayo</option>
            <option value="06">Junio</option>
            <option value="07">Julio</option>
            <option value="08">Agosto</option>
            <option value="09">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
        </select>
        <button onclick="representacion_graficas()"> Mostrar Gráfica</button>
</div>

    <div class="container_graficas_mensuales">
        <div id="Datos_consumo_produccion_mes" data-consumo="{{contexto5}}"></div>
        <div id='chart_consumo_produccion_mes' class='Chart_container_mes'></div>
        <div id='chart_gasto_ahorro_mes' class='Chart_container_mes2'></div>
    </div>


    <div class="Seleccion_dia">
        <label for="dateInput">Introduce una fecha:</label>
        <input type="date" id="dateInput" value="2023-01-01">
        <button onclick="represntacion_grafica_dia()">Mostrar día</button>
    </div>

    <div class="container_graficas_diarias">
        <div id='chart_consumo_produccion_dia' class='Chart_container_dia'></div>
        <div id='chart_gasto_ahorro_dia' class='Chart_container_dia'></div>
    </div>

    <div id="Datos_comparativa" data-comparativa="{{contexto6}}"></div>
    <div id="Casos" data-comparativa="{{contexto7}}"></div>
    <div id='chart_comparativa_placas' class='Chart_container_comparativa'></div>

</div>  
    
    <script src="{% static 'solar_energy/JavaScript/Gráfico compacto consumo y producción.js' %}"></script>
    <script src="{% static 'solar_energy/JavaScript/Gráfico gasto y ahorro compacto.js' %}"></script>
    <script src="{% static 'solar_energy/JavaScript/Gráfico consumo y producción por mes.js' %}"></script>
    <script src="{% static 'solar_energy/JavaScript/Gráfico gasto y ahorro mes.js' %}"></script>
    <script src="{% static 'solar_energy/JavaScript/Gráfico consumo y producción dia.js' %}"></script>
    <script src="{% static 'solar_energy/JavaScript/Gráfico gasto y ahorro dia.js' %}"></script>
    <script src="{% static 'solar_energy/JavaScript/Gráfico comparativa.js' %}"></script>

    <script> 
        function representacion_graficas(){
            render_grafico_mes();
            render_gasto_ahorro_mes();
        }

        function represntacion_grafica_dia(){
            render_grafico_dia()
            render_grafico_ahorro_dia()
        }
    </script>
{% endblock %}

