{% extends 'solar_energy/Barra de Navegacion.html' %}

{% load static %}
    
{% block style %}
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="{% static 'solar_energy/Styles/Estilo_Ventana_resultados.css' %}">
{% endblock %}

{% block title %}
    Resultados Amortización
{% endblock %}

{% block content %}
<div class='informe-resultados'>
    <h2>Informe Amortización Placas Solares</h2>
    <p>Nombre de la instalación: {{contexto1.name}}</p>
    <p>Coordenadas: {{contexto1.altitud}} , {{contexto1.longitud}}</p>
    <div id="dato-texto" data-dato="{{contexto1.dato_django}}"></div>
    
    
    <table>
        <tr>
            <th>CUPS</th>
            <th>FECHA-HORA</th>
            <th>CONSUMO Wh</th>
        </tr>
        
        {% for linea in contexto2 %}
        <tr>
            <td>{{linea.CUPS}}</td>
            <td>{{linea.FECHA_HORA}}</td>
            <td>{{linea.CONSUMO_Wh}}</td>
        </tr>
        {% endfor %}
    </table>

    <div id="Datos_consumo"  data-consumo="{{contexto3}}"></div>
    <div id='Chart_consumo' class='chart-container'></div>
    <div id='Bar_Chart_consumo' class='bar-chart-container'></div>

</div>  
    <script src="{% static 'solar_energy/JavaScript/Gráfico de consumo y producción.js' %}"></script>
    <script src="{% static 'solar_energy/JavaScript/Gráfico de barras consumo.js' %}"></script>

{% endblock %}

