
.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(to right, rgb(0 0 0 /.7),  rgb(0 0 0 /.7)), url("../Imagenes/placas.jpg");
    background-size: cover;
    background-position: center;
    flex-direction: column;
}


.Definicion{
    margin-top: 5vh;
    width: 87%;
    padding: 0 20px;
    font-size: 5vh;
    text-align: justify;
    color: #f7f2f2ea
}

.Definicion p{
    margin-top: 5vh;
}

