*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: Arial, sans-serif ;
    color:#e80d0d;
    background-color: #000000;
}


header{
    height: 124px;
    /*background-color:  #020202;*/
    display: flex;
    padding: 0 20px;
    border-bottom:  4px solid #BA192C;
}

.nombre{
    font-size: 1vw;
    font-weight: bolder;
    color:#131313;
    text-align: center;
    margin-left: auto;
    line-height: 120px;
    padding: 0 8px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0ff, 0 0 70px #0ff, 0 0 80px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
    animation: neon-glow 1s infinite alternate;
    transform: perspective(400px) rotateX(0deg);
}

@keyframes neon-glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0ff, 0 0 70px #0ff, 0 0 80px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0ff, 0 0 35px #0ff, 0 0 40px #0ff, 0 0 50px #0ff, 0 0 75px #0ff;
    }
}



  /* Styles for the toggle button */
.menu-toggle {
    display: none;
    margin-left: auto;
    cursor: pointer;
    padding: 10px;
    line-height: 60px;
    font-size: 20px;
    color: #fff;
  }

.logo img{
    color: #acf308;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    text-transform: uppercase;
    font-family: sans-serif;
    width: 120px;
    height: 120px;
}

#menu{
    margin-left: auto;
}

#menu ul li{
    display: inline-block;
}

img {
    fill: red; /* Cambia el color de relleno del SVG */
}

#menu ul li a{
    display: inline-block;
    position: relative;
    font-size: 1.2vw;
    color: #dae810;
    text-decoration: none;
    line-height: 120px;
    padding: 0 8px;
    text-transform: uppercase;
    transition: .2;
    align-items: center;
    font-weight: bold;
}


#menu ul li a:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}


#menu ul li:nth-child(1) {
    filter: hue-rotate(60deg);
}

#menu ul li:nth-child(2) {
    filter: hue-rotate(120deg);
}

#menu ul li:nth-child(3) {
    filter: hue-rotate(180deg);
}

#menu ul li:nth-child(4) {
    filter: hue-rotate(240deg);
}

/*
#menu ul li:nth-child(5) {
    filter: hue-rotate(300deg);
}*/



.show{
    height: 600px !important;
}

@media screen and (max-width:700px){
    .menu-toggle{
        display: block;
    }
    #menu{
        background: #000000;
        position: absolute;
        top: 120px;
        left: 0px;
        width: 100%;
        height: 0;
        /*border: 3px solid #d91313;*/
        overflow: hidden;
        transition: .3;
    }

    #menu ul li{
        display: block;
        text-align: center;
    }

    #menu ul li a{
        color:#fff;
        font-size: 20px;
        border-bottom:  1px solid #5f5fd3;
        width: 100%;
    }

    #menu ul li a:hover{
        background: #eee9e9;
    }

    .container{
        padding: 10px;
    }

}


