.contenedor {
    color: #fa7c07ea;
    display: flex;
    flex-wrap: wrap;
    width: calc(100%-2*3vw);
    height: auto;
    margin: 5vh 3vw;
}

.container-video video {
    width: 100%;
    object-fit: cover; /* Para mantener la relación de aspecto del video */
}

.container-formulario{
    padding-left: 3vh;
    padding-right: 2vh;
    font-size: 2.5vh;
}

.container-formulario button {
    margin-left: auto;
    margin-right: auto;
}

.container-video , .container-formulario{
    flex: 1 1 50%; /* Divide el espacio en dos para cada gráfico */
    min-width: 300px; /* Define el ancho mínimo */
    box-sizing: border-box; /* Ajusta el tamaño incluyendo el padding y border */
    height: 100%;
    /*border: solid 1vh rgb(42, 6, 245);*/
    padding-top: 3vh;
}

@media (max-width: 1000px) {
    .contenedor {
        height: auto; /* Elimina la altura fija del contenedor cuando la ventana sea menor a 600px */
    }

    .container-video , .container-formulario{
        flex: 1 1 100%; /* Cambia el ancho de cada contenedor al 100% cuando la ventana sea menor de 600px */
        height: 50%; /* Cada subcontenedor ocupa el 50% de la altura del contenedor padre */
    }

}

.container-formulario ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.container-formulario ul li {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.container-formulario ul li label {
    flex-basis: 40%; /* Anchura del label */
    text-align: right;
    margin-right: 1vw;
}

.container-formulario ul li input {
    flex-basis: 60%; /* Anchura del input */
}

.container-formulario button {
    margin-left: auto;
    margin-right: auto;
    background-color: #8680d4b1; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 1vh 2vh; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 2vh; /* Borde redondeado */
    font-size: 1em; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

.container-formulario button:hover {
    background-color: #45a049; /* Cambia el color de fondo al pasar el ratón */
}

.container-formulario p{
    width: 100%;
    margin-top: 1.3vh;
    margin-bottom: 1vh;
}

.container-formulario a{
    color: rgb(8, 240, 8);
    font-weight: bold;
}
