.container{
    padding: 0;
    font-size: 20px;
    margin: 0;
    width:  100%;
    height: 100vh;
}

.wrap{
    width:  100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(to right, rgb(0 0 0 /.5),  rgb(0 0 0 /.5)), url("../Imagenes/placas.jpg");
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

.wrap-texto{
    font-size: 60px;
    font-weight: bolder;
    color:#f9f905;
    text-align: center;
    width: 100%;
    margin-top: 130px;
    width: 100%;
    padding: 0 20px;
    text-shadow: 0 10px 0 #0b0b0b, 0 3px 1px rgba(249, 245, 3, 0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}

.Definicion{
    margin-top: 80px;
    width: 100%;
    padding: 0 20px;
    font-size: 30px;
    text-align: justify;
}

